<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employee Directory</title>
</head>
<body class="bg-dark">

<navbar th:include="fragments/navbar"></navbar>
<div th:include="fragments/jumbotron"></div>

<div class="container bg-secondary text-warning">

    <h1 class="display-1 text-center">Employee Directory</h1>
    <br>

    <div th:if="${noEmployeesFound}">

        <h3 class="display-3 text-center" >No employees were found.</h3>

    </div>
    <div class="row justify-content-center">
        <div th:each="employee: ${employees}" class="card" style="width: 18rem;">
            <div class="card-body border border-info bg-info">
                <div class="row justify-content-center bg-dark rounded-pill">
                    <h5 th:text="${employee.firstName}" class="card-title text-uppercase text-warning align-middle">Employee First Name</h5>
                    <h5 class="card-title text-light align-middle">&nbsp</h5>
                    <h5 th:text="${employee.lastName}" class="card-title text-uppercase text-warning align-middle">Employee Last Name</h5>
                </div>
                <div class="row justify-content-center">
                    <br>
                    <br>
                </div>
                <div class="row justify-content-center">
                    <h6 class="card-text text-dark font-weight-bold">Employee Number:&nbsp</h6>
                    <h6 th:text="${employee.employeeNumber}" class="card-text text-light"></h6>
                </div>
                <div class="row justify-content-center">
                    <h6 class="card-text text-dark font-weight-bold">Username:&nbsp</h6>
                    <h6 th:text="${employee.username}" class="card-text text-light"></h6>
                </div>
                <div class="row justify-content-center">
                    <h6 class="card-text text-dark font-weight-bold">Email:&nbsp</h6>
                    <h6 th:text="${employee.email}" class="card-text text-light"></h6>
                </div>
                <div class="row justify-content-center">
                    <br>
                    <br>
                </div>
                <div class="row justify-content-center">
                    <a th:href="'/employees/' + ${employee.id} + '/edit'" class="btn btn-warning btn-block rounded-pill text-dark">Edit an Employee</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <br>
        <br>
    </div>
    <div class="row justify-content-center">
            <div class="col-6">
            <a href="/employees/create" type="button" class="btn btn-dark btn-block rounded-pill text-warning">Add an Employee</a>
            </div>
    </div>
    <div class="row justify-content-center">
        <br>
        <br>
    </div>

</div>

</body>
</html>
