<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:include="fragments/bootstrap">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>View Employee Directory</title>-->
<!--</head>-->
<!--<body class="bg-dark">-->
<!--<h1 class="display-1">View Employee</h1>-->
<!--<div class="container bg-dark text-light">-->
<!--    <h3 class="display-3">First Name: <span th:text="${showEmployee.firstName}"></span></h3>-->
<!--    <p>Last Name: <span th:text="${showEmployee.lastName}"></span></p>-->
<!--    <p>Employee Number: <span th:long="${showEmployee.employeeNumber}"></span></p>-->
<!--    <p>Username: <span th:text="${showEmployee.username}"></span></p>-->
<!--    <p>Email: <span th:text="${showEmployee.email}"></span></p>-->


<!--    <a href="/employees" class="btn btn-primary btn-sm rounded-pill">Back to Directory</a>-->
<!--    <br>-->
<!--    <br>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
